Package: com.lumartti.modern12
Name: Modern12
Depends: com.spark.snowboard
Version: 1.0
Architecture: iphoneos-arm
Description: A beautiful modern iOS 12 theme that changes the look of the icons to something more detailed
Maintainer: LuMartti <luisenrique.mtzro@gmail.com>
Author: LuMartti <luisenrique.mtzro@gmail.com>
Section: Themes